/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/*Modified style of the library, needed for the top left menu for selectin methods*/
@import "components/DropdownMenu/style.css";

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

p {
  margin: 5px;
}
