.rowVariable {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.rowVariable > p {
  font-size: 15px;
}

.rowVariable > input {
  width: 80%;
  margin-left: 10px;
  margin-right: 10px;
}

.textInput {
  border: 1px solid #ff8f00;
  border-radius: 10px;
  height: 20px;
  outline: none;
  padding: 5px;
}

.icon {
  color: #ff8f00;
  align-items: center;
  justify-content: center;
  display: flex;
}
