.textInput {
  border: 1px solid #FF8F00;
  border-radius: 10px;
  height: 20px;
  outline: none;
  padding: 5px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

}

.flexRow > input {
  flex: 1;
}

.flexEquation {
  flex: 0;
  font-size: 20px;
}

.equationFlex {
  background-color: #558B2F
}